<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
		<title>Document</title>
	</head>
	<body class="bg-gray-100">
		<div  id="flash" class="absolute top-0 left-1/2 transform -translate-x-1/2 mt-4 z-50">
		<% if ( error.length>0) { %>
			<div class=" justify-center  bg-red-500 text-white p-4 w-52 h-  rounded-md mb-4">
				<span class="inline-block text-sm"><%= error %> </span>
			</div>
		<% } %>
		<% if (success.length>0) { %>
			<div class="bg-green-500 text-white p-4 rounded-md mb-4">
				<span class="inline-block"><%= success %></span>
			</div>
		<% } %>
		</div>
		<div class="flex  flex-col flex-wrap gap-20">
		<div class="  flex items-center  justify-between  h-16 bg-white fixed  w-full  border-zinc-200 ">
		<div class="text-4xl font-bold  px-10 pb-3 text-blue-600"><h1>Baggie</h1></div>
		<div><input type="search" class="w-96 h-8 rounded-xl bg-cyan-50 border-2 pl-4 border-blue-100 " placeholder="Search Products" /></div>
		<% if (!req.cookies.token) { %>
		<div class="flex gap-3  mr-12">
				<div><a href="/users/login" class="text-white bg-blue-500 hover:bg-blue-600 rounded-full text-xl px-8 py-2 ">Login</a></div>
				<div><a href="/users/signup" class="text-white bg-blue-500 hover:bg-blue-600 rounded-full text-lg px-8 py-2 ">Signup</a></div>
			    <div></div>
		
		  </div>
		  <% } 
		  else { %>
			<div class="flex gap-3  mr-12">
			  <div><h1 class="font-semibold text-2xl">Welcome <%=user.username%>...</h1></div>
			  <div><img src="" class="h-2 w-2 rounded-full"></div>
			  <div><a href="/users/cart" class="text-white bg-blue-500 hover:bg-blue-600 rounded-full text-lg px-8 py-2 ">My Cart</a></div>
			</div>
			<%} %> 
		</div>
		<div class="min-h-screen flex flex-row mt-8">
		    <div class="  w-72 bg-white mt-[50px] rounded-lg  mx-3 p-5">
                <ul class="flex flex-col p-14  gap-6 text-2xl">
                    <li><a href="#">About</a></li>
                    <li><a href="#">All products</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Account center</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
			<div class="grid grid-cols-4 grid-wrap sm:grid grid-rows gap-5 justify-center pt-12 ">
				<% products.forEach((product)=>{%>
					<div class="flex flex-col">
						<div class="flex justify-center items-center bg-[<%= product.bgcolor %>] shadow-lg rounded-t-xl  h-48 w-full"> 
							<img src="/images/products/<%= product.image %>" alt="image" class="object-fit h-48">
</div>
                        <div class="flex flex-row justify-between   text-lg p-2  rounded-b-xl  bg-[<%= product.pannelcolor %>] text-[<%= product.textcolor %>]">
							<div class="flex flex-col ">
								<h1><%=product.name %></h1>
                                <div class="flex gap-2">
									<h1 class="line-through font-semibold">$ <%= product.price %>
									<h1 class="font-bold"> <%= product.discount %>	
									</div>
							</div>
							<a
								class="w-8 h-8 mt-3 mr-4  flex items-center justify-center rounded-full bg-white"
								href="/users/cart/<%= product._id %>">
								<i class="ri-add-line "></i>
							</a>
					</div>
						
					</div>
				<%} )%>

					</div>
		</div>
		</div>
		<script>
		setTimeout(() => {
            const flashContainer = document.getElementById('flash');
            if (flashContainer) {
                flashContainer.remove();
            }
        }, 1000); // 5000 milliseconds = 5 seconds
    </script>
	</body>
</html>
